# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
LearnPythontheHardWay/ex49/tests/parser_tests.pyc
LearnPythontheHardWay/ex49/tests/__init__.pyc
LearnPythontheHardWay/gothonweb/bin/app.pyc
LearnPythontheHardWay/gothonweb/bin/__init__.pyc
CorePythonProgramming/Chapter08/.idea/.name
CorePythonProgramming/Chapter09/b.txt
*.txt
CorePythonProgramming/Chapter09/.idea/workspace.xml
CorePythonProgramming/Chapter08/.idea/Chapter08.iml
*.xml
*.name
CorePythonProgramming/Chapter09/a.txt
*.txt
CorePythonProgramming/Chapter09/a.txt
*.iml
CorePythonProgramming/Chapter09/a.txt
CorePythonProgramming/Chapter09/a.txt
CorePythonProgramming/Chapter09/a.txt
CorePythonProgramming/ex.py
*.xls
